<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand">
      <div class="ml-5" (click)="onClickLogo()" checked>
        <img height="50px" width="150px" src="../../../../assets/images/logo.png"/>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <button color="primary" routerLink="/" mat-flat-button>Home</button>
        <button color="primary" routerLink="/" mat-flat-button>Purchase</button>
        <button color="primary" routerLink="/" mat-flat-button>Sale</button>
        <button color="primary" routerLink="/" mat-flat-button>Reports</button>
        <button color="primary" routerLink="/" mat-flat-button>Add Associate</button>
        <button color="primary" routerLink="/" mat-flat-button>Be a Member</button>
        <button routerLink="/layout2/login" mat-flat-button>Logout</button>
      </ul>
      </div>
  </nav>
</header>