USE [SalePurchaseAccountantDb]
GO
/****** Object:  Table [dbo].[tblThana]    Script Date: 10/1/2020 12:01:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblThana](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DistrictId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblThana] ON 

INSERT [dbo].[tblThana] ([Id], [Name], [DistrictId]) VALUES (514, N'Dhamrai', 19)
INSERT [dbo].[tblThana] ([Id], [Name], [DistrictId]) VALUES (515, N'Dohar', 19)
INSERT [dbo].[tblThana] ([Id], [Name], [DistrictId]) VALUES (516, N'Keraniganj', 19)
GO
SET IDENTITY_INSERT [dbo].[tblThana] OFF
ALTER TABLE [dbo].[tblThana]  WITH CHECK ADD  CONSTRAINT [FK_tblThana_tblDistricts] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[tblDistricts] ([Id])
GO
ALTER TABLE [dbo].[tblThana] CHECK CONSTRAINT [FK_tblThana_tblDistricts]
GO
